@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Urbanist', sans-serif;
}

.container {
    max-width : 1320px;
    padding:16px;
    margin:auto;
}


input[type="text"],input[type="password"], input[type="email"], input[type="number"],
textarea {
    @apply w-full my-2 py-2 px-3 rounded-2xl bg-gray-50 border
    border-gray-300 focus:ring-teal-500 focus:border-teal-500;
}

.title-preinput{
    @apply block mb-2 text-sm font-medium text-gray-900;
}

/* tr {
    @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700;
}  */

td {
    @apply px-6 py-4 text-gray-900 font-medium;
}

th {
    @apply px-6 py-3 ;
} 
/* 
button.primary{
    @apply bg-primary p-2 text-white rounded-full w-full;
}  */



